body{
  height: 3000px;
  margin:0px;
  background: #cedbe9; /* Old browsers */
  background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 11%, #56db41 23%, #56db41 23%, #56db41 29%, #47d640 37%, #6199c7 48%, #ed49cf 57%, #fcfc50 76%, #f94a5c 91%, #26558b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cedbe9 0%,#aac5de 11%,#56db41 23%,#56db41 23%,#56db41 29%,#47d640 37%,#6199c7 48%,#ed49cf 57%,#fcfc50 76%,#f94a5c 91%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 11%,#56db41 23%,#56db41 23%,#56db41 29%,#47d640 37%,#6199c7 48%,#ed49cf 57%,#fcfc50 76%,#f94a5c 91%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.placeholder {
	width: 100%;
	height: 150px;
	background: lightgreen;
}
.sticky {
	width: 100%;
	height: 75px;
	background: lightpink;
	
}
.sticky-clone {
	position: fixed;
	top: 0;
}
.main{
	padding: 15px;
}
.main div{
	margin: 25px;
    background: rgba(243, 235, 235, 0.41);
    padding: 15px;
    border-radius: 5px;
}
.sticky.ff{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
} 